<div class="jumbotron">
  <h1>Cadastro de árvore</h1>
</div>

<div class="row">
  <form id="addElement">
    <p>
      <label for="cod">Cod:</label>
      <input id="cod" name="cod" type="number" required />
    </p>
    <p>
      <label for="description">descriçao:</label>
      <input id="description" name="description" type="text" required />
    </p>
    
    <p>
      <label for="obs">Obs:</label>
      <input id="obs" name="obs" type="text"/>
    </p>
    <button>submit</button>
  </form>


</div>
